/* Copied from https://stackoverflow.com/questions/2812770 */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
  font-size: 0.75rem;
  font-weight: bold;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.15em solid #6c757d;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.btn {
  margin-left: 0.125em;
  margin-right: 0.125em;
}